* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: cyan;
    width: 80%;
    outline: none;
    position: relative;
    margin: 0 auto;
    padding: 20px 10px 10px 0;
    box-shadow: 5px 0 10px 10px grey;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: green;
    border-radius: 5%;
    margin-top: 5%;
}
.container::after{
    content: '';
    position: absolute;
    width: 6px;
    
    background-color:black;
    left: 50%;
    top: 0;
bottom: 0;
    margin-left: -3px;
}
.timelinelist {
    display: block;
    
    position: relative;
    margin: 10px 10px;
}


.timelinelist li:nth-child(1) {
    left: 0;
}
.timelinelist li:nth-child(2) {
    left: 50%;
}
.timelinelist li:nth-child(3) {
    left: 0;
}
.timelinelist li:nth-child(4) {
    left: 50%;
}
.timelinelist li:nth-child(5) {
    left: 0;
}
.timelinelsit li:nth-child(6) {
    left: 50%;
}
.defineli {
    list-style: none;
    position: relative;
    display: block;
    padding: 10px 50px;
    margin: 40px 10px;
    width: 51%;
    clear: both;
    border-bottom-width: 2px;
    
    
    
}
.defineli::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:grey;
    top:10px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 2px 1px  grey;
}


.left {
    left: 0;
    text-align: left;
    border-width:0 0 2px 2px;
    border-style: solid;
    border-color: pink;
    
    border-bottom-left-radius: 10%;
}
.left::after {
    right: 1px;
}
.right{
    left: 50%;
    text-align: right;
    border-width:0 2px 2px 0;
    border-color: pink;
    border-style: solid;
    
    border-bottom-right-radius:10%;
}
.right::after{
    left: -19px;
}
/* li[left="50%"]::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: -9px;
    background-color:#FF69B4;
    top:15px;
    border-radius: 50%;
    z-index: 1;
}
li[left="0"]::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -9px;
    background-color:#FF69B4;
    top:15px;
    border-radius: 50%;
    z-index: 1;

} */

.defineli::before {
    content: '';
    position: relative;
    display:block;
    width: 20px;
    height: 20px;
    


}
.right::before {
    float: left;
    left: 0;
    border-width:5px 0 5px 0 ;
    border-style: dashed;
    border-color:purple;
    
}
.left::before {
    float: right;
    right: 3%;
    border-width:5px 0 5px 0 ;
    border-style: dashed;
    border-color:purple;
}

