/*css document*/
body{
	background-color: aquamarine;
	margin: auto;
	text-align: center;
	margin-top: 10%;
}

body div+div input{
	border-radius: 0.5rem;
	border: #7FFFD4 solid;
	width: 3.125rem;
	height: 3.125rem;
}
body div+div{
	margin-top: 5%;
}
body div>input{

	width: 500px;
	height: 20px;
	
}